/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: #fff;
  background-color: #1f1f1f;
  overflow-x: hidden;
}

/* Hero Section */
.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.slides {
  width: 400vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: slide 20s ease-in-out infinite;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  flex-shrink: 0;
  background-color: rgba(0, 255, 255, 0.5);
}

@keyframes slide {
  0% {
    transform: translateX(0vw);
  }

  22.5% {
    transform: translateX(0vw);
  }

  25% {
    transform: translateX(-100vw);
  }

  47.5% {
    transform: translateX(-100vw);
  }

  50% {
    transform: translateX(-200vw);
  }

  72.5% {
    transform: translateX(-200vw);
  }

  75% {
    transform: translateX(-300vw);
  }

  97.5% {
    transform: translateX(-300vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

/* Slide animation */
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-content {
  flex-direction: column;
  text-align: center;
  opacity: 0;
  animation: slideInUp 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

.slide:nth-child(1) .slide-content {
  animation-delay: 0.5s;
}

.slide:nth-child(2) .slide-content {
  animation-delay: 5.4s;
}

.slide:nth-child(3) .slide-content {
  animation-delay: 10.4s;
}

.slide:nth-child(4) .slide-content {
  animation-delay: 15.4s;
}

.slide-content h1 {
  font-size: 5.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.slide-content p {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 1.5rem;
  margin-top: 1.0rem;
  animation: slideInUp 1.5s ease-out forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

.slide:nth-child(1) .slide-content p {
  animation-delay: 1.2s;
}

.slide:nth-child(2) .slide-content p {
  animation-delay: 6.1s;
}

.slide:nth-child(3) .slide-content p {
  animation-delay: 11.1s;
}

.slide:nth-child(4) .slide-content p {
  animation-delay: 16.1s;
}

.slide-content .btn {
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #1f1f1f;
  text-decoration: dashed;
  font-weight: bold;
  border-radius: 30px;
  transition: background 0.3s;
  animation: slideInUp 1.5s ease-out forwards;
  animation-delay: 1.8s;
  opacity: 0;
}

.slide:nth-child(1) .slide-content .btn {
  animation-delay: 1.8s;
}

.slide:nth-child(2) .slide-content .btn {
  animation-delay: 6.7s;
}

.slide:nth-child(3) .slide-content .btn {
  animation-delay: 11.7s;
}

.slide:nth-child(4) .slide-content .btn {
  animation-delay: 16.7s;
}

.slide-content .btn:hover {
  background-color: #e2e2e2;
}

/* About Section */
.about {
  background: #1b1b1b;
  color: #f5f0ea;
  text-align: center;
  padding: 4rem 2rem;
}

.about h2 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #666;
  margin-bottom: 0.5rem;
}

.about h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
}

/* Menu Section */
.menu {
  background: url(cafebgc.png) no-repeat center center/cover;
  text-align: center;
  padding: 4rem 2rem;
}

.menu h2 {
  font-size: 0.8rem;
  color: #ccc;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.menu h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
}

.menu-items img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.menu-item img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  box-shadow: 0 4px 8px rgba(163, 65, 65, 0.562);
}

.menu-item {
  height: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .menu-item {
    width: 80vw;
  }
}

/* Button Light */
.btn-light {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn-light:hover {
  background: #fff;
  color: #000;
}

/* Contact Section */
.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.social-links img {
  margin: 20px 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: #1b1b1b;
  text-align: center;
  padding: 4rem 2rem;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #1b1b1b;
  text-align: center;
  padding: 4rem 2rem;
}

.contact-container {
  color: #f5f0ea;
}

.contact h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  font-size: 0.95rem;
}

.footer-info p {
  line-height: 1.5;
}

/* -----------------------
   Mobile Responsiveness
--------------------------*/
@media (max-width: 768px) {

  .hero-content, .slide, .slide-content {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 1rem; */
  }

  .slides {
    /* animation: none; */
    flex-direction: row;
    width: 400vw;
  }

  .slide {
    min-width: 100vw;
    flex-shrink: 0;
    height: 20vh;
  }
  @keyframes slide {
  0% {
    transform: translateX(150vw);
  }

  22.5% {
    transform: translateX(150vw);
  }

  25% {
    transform: translateX(50vw);
  }

  47.5% {
    transform: translateX(50vw);
  }

  50% {
    transform: translateX(-50vw);
  }

  72.5% {
    transform: translateX(-50vw);
  }

  75% {
    transform: translateX(-150vw);
  }

  97.5% {
    transform: translateX(-150vw);
  }

  100% {
    transform: translateX(150vw);
  }
}

  .slide-content h1 {
    font-size: 2.2rem;
    word-wrap: break-word;
  }


  .slide-content p {
    font-size: 1.1rem;
  }

  .slide-content .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .menu-items {
    flex-direction: column;
    gap: 2rem;
  }

  .menu-item {
    width: 80vw;
    height: auto;
  }

  .menu-items img {
    width: 120px;
    height: 120px;
  }

  .social-links {
    flex-direction: column;
    gap: 1rem;
  }

  .register {
    flex-direction: column;
    gap: 1rem;
  }

  .contact {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .footer-info {
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
  }

  .about, .menu, .register, .contact {
    padding: 2rem 1rem;
  }
}
