* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to bottom, #3e2d22, #1f120c);
  color: #f5e0c6;
  overflow-x: hidden;
}

header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(30, 20, 10, 0.7);
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #f5d7a4;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #f5e0c6;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #a5d5c4;
}

.order-btn {
  background: #a5d5c4;
  color: #2b1d12;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 42px;
  line-height: 1.3;
  color: #f7d1a6;
}

.hero-text p {
  margin: 20px 0;
  font-size: 16px;
  color: #d8c2aa;
}

.choose-btn {
  background: #84c3ad;
  border: none;
  padding: 12px 28px;
  color: #2b1d12;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
}

.hero-img {
  position: relative;
  width: 420px;
  height: 360px;
}

.hero-img .cup1 {
 position: absolute;
  bottom: 0;
  left: -20px;
  width: 250px;
  transform: rotate(-5deg);
  z-index: 3;
}
.hero-img .cup2{
  position: absolute;
  bottom: -50px;
  left: 90px;
  width: 350px;
  transform: rotate(5deg);
  z-index: 4;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 180px 0;
  height: 30vh;
}

.menu-item {
  background: #2b1d12;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  height: 240px;
  width: 200px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

.menu-details{
  margin-top: 90px;
}

.menu-item img {
  position: absolute;
  width: 120px;
  margin-bottom: 15px;
  border-radius: 10px;
  left: 40px;
  bottom: 120px;
}

.menu-item h3 {
  color: #f5d7a4;
}

.menu-item p {
  margin: 8px 0;
  font-size: 18px;
}

.menu-item button {
  border: none;
  background: #a5d5c4;
  color: #2b1d12;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-weight: 700;
  cursor: pointer;
}

.about {
  text-align: center;
  padding: 80px 60px;
  background: #24160f;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #f7d1a6;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.about-grid h3 {
  color: #f5d7a4;
}

.test {
  background: #3b271c;
  padding: 60px;
  text-align: center;
  border-top: 1px solid #5c4032;
}

.test-btn {
  margin-top: 15px;
  background: #84c3ad;
  color: #2b1d12;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #d8c2aa;
  background: #1b1009;
}
